<!DOCTYPE html>
<html>
  <style type="text/css">
    html, body { margin: 0; padding 0; width: 100%; height: 100%;}
    iframe { border: 0; width: 100%; height: 99%; }
  </style>
  <body>
    <iframe src="http://35.229.252.194:5601/app/kibana#/dashboard?embed=true&_g=(refreshInterval:(pause:!t,value:0),time:(from:now%2Fw,to:now%2Fw))&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),panels:!((embeddableConfig:(),gridData:(h:15,i:'1',w:24,x:0,y:0),id:'14b67d50-2565-11ea-8969-73204c3cec8e',panelIndex:'1',type:visualization,version:'7.2.0'),(embeddableConfig:(),gridData:(h:15,i:'2',w:24,x:24,y:0),id:ec1b05e0-2565-11ea-8969-73204c3cec8e,panelIndex:'2',type:visualization,version:'7.2.0')),query:(language:kuery,query:''),timeRestore:!f,title:'New+Dashboard',viewMode:edit)" height="600" width="800"></iframe>
  </body>
</html>